*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
   
}

/* header design start */

.main-header{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Bannermage.png');
    background-position: center;
    background-size: cover;
    margin:50px auto;
    width: 90%;
    height: 500px;
    border-radius: 16px;
}
.section-container{
    position: relative;
    width: 100%;
    height: 500px;
}
.test{
    width: 650px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.header-subtitle{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    color: white;
}
.header-title{
    font-size: 72px;
    font-family: 'Merriweather', serif;
    color: #fff;
}

.main-header:hover{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Bannermage.png');
    background-position: center;
    background-size: cover;
}
/* header design end */

/* main section stat */
/* main section adjustment */
main{
    margin:120px auto;
    width: 90%;
}
/* main section adjustment end */

/* offer section start */
.offer-section{
    text-align: center;
}
.offer-title{
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    margin-bottom: 40px;
}
.offer-heading{
    font-size: 24px;
    color: #F00;
}
.offer-categories{
    font-size: 48px;
    font-weight: bold;
}
.offer-photo{
    transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.offer-photo:hover{
    transform: scale(1.1);
}
/* offer section end */

/* midnight party section start */
.party-container{
    background: linear-gradient(90deg, #14002e 0%, rgba(0, 0, 0, 0.514) 100%), url('../resources/Vectorrr.png');
    background-position: center;
    background-size: cover;
    margin:50px auto;
    height: 500px;
    border-radius: 16px;
    font-family: 'Merriweather', serif;
}

.party-sub-container{
    padding: 126px;
    width: 500px;
}

.party-title{
    font-size: 64px;
    color: #fff;
    padding-bottom: 20px;
}
.party-discription{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    padding-bottom: 30px;
}
.party-join{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.party-container:hover .party-join{
    color: rgb(0, 255, 76);
    letter-spacing: 1px;
}

/* midnight party section End */

/* place section start */
.place-container{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin:100px auto;
    height: 500px;
    border-radius: 16px;
    position: relative;
}
.place-subcontainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 300px;
    width: 600px;
    text-align: center;
}
.plce-info{
    font-size: 32px;
    font-weight: 700;
    padding: 5px 0;
}
.place-btn{
    background-color: red;
    padding: 16PX 32PX;
    border-radius: 5px;
    margin: 30px;
    border: 0;
}
.place-btn a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.info-span{
    color: #F00;
}
/* place section end */

/* awesome portfolio design start */
.awesome-portfolio-container{
    /* background-color: #0eff87; */
    height: 850px;
    border-radius: 16px;
    position: relative;
}

.awesome-portfolio-subcontainer{
    position: absolute;
    width: 100%;
}

.awesome-rows{
    width: 100%;
    margin-bottom: 5px;
}
.awesome-portfolio-text{
    font: 24px;
    color: #F00;
}

.awesome-portfolio-title{
    color: #070211;
    font-size: 48px;
    font-family: 'Merriweather', serif;  
    padding: 20px 0;
    transition: .5s ease-in-out;
}
.awesome-portfolio-texts{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    padding-bottom: 20px;
}
.contentbox{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    
}
.awesome-photo{
    width: 100%;
    transition: .5s;

}

.photo-size{
    width: 390px;
    height: 300px; 
}

/* awesome portfolio hover */
.awesome-photo:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
    transform: scale(1.1);
}
.awesome-portfolio-title:hover{
    color: #F00;
    letter-spacing: 2px;
}
/* awesome portfolio hover end*/
/* awesome portfolio design end */

/* Subscribe Newsletter design start  */
.Subscribe-Newsletter-Container{
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    height: 600px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.newstitle-content{
    max-width: 900px;
}

.newsletter-heading{
    padding: 20px 0;
    font-family: 'Merriweather', serif;  
    font-size: 48px;
}
.newsletter-discriptiom{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    padding-bottom: 20px ;
}

/* search bar design */
.search-bar{
    width: 600px;
}
input{
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
}
input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 50px 0 0 50px;
}
input[type="submit"] {
    background-color: #f00;
    color: #fff;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 20px 50px;
    border-radius: 0px 50px  50px 0;
    margin-left: -5px;
    transition: 0.5s;
}

/* hover effect newsletter  */
input[type="submit"]:hover {
    background-color: rgba(255, 0, 0, 0.158);
    color: #ff0000;
}
/* main section end */

/* footer section design start */
footer{
    background-color: #070211;
    height: 500px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.footer-container{
    width: 90%;
    height: 350px;
}

.first-parents{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 255, 21);
    width: 100%;
    padding-bottom: 50px;
}
.aline-fixed{
    text-align: right;
}
.one-box-info{
    font-size: 24px;
    color: #fff;
}

.second-parents{
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 255, 21);
}
.three-parents{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}
/* footer section design end */